body {
    counter-reset: section;
}

h1 {
  font-size: larger;
  text-align: center;
}

h2:nth-child(even) {
    color: violet;
}

h2:lang(lang_1) {
    color: blue;
}

h2 {
    counter-reset: subsection;
}

h2::before {
    counter-increment: section;
    content: "Section " counter(section) ". ";
}


h3::before {
    counter-increment: subsection;
    content: counter(section) "." counter(subsection) " ";
}

div {
    width: 200px;
    min-height: 200px;
    background: green;
}

.section_1 {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.frameset {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.frameset_left  {
    flex: 0.2;
    background: red;
}

.frameset_middle {
 flex: 0.6;
 background: green;
}

.frameset_right {
    flex: 0.2;
    background: blue;
}



.japan_1 {
    max-width: 650px;
}

.section_2 {
    width: 100vw;
    height: 100vh;
}